@import "../../styles/variables";

.my-breadcrumb-wrapper {
  clear: both;
  position: relative;
  text-align: center;
  font: 18px helvetica, sans-serif;
  color: $white;
  margin-bottom: 8px;
  margin-right: -15px;
  margin-left: -15px;

}

.my-breadcrumb {
  background-image: url('../../../../assets/img/app/background_login.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% auto;
}

.my-breadcrumb-sizing {
  padding-top: 17%;
}

.my-breadcrumb-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(40, 63, 99, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .justify-start {
    margin-right: auto;
  }
}

.my-breadcrumb-content:before {
  content: ' ';
  display: block;
  height: 20%;
}
