/**** Colors (recommended use HEX colors) ****/

$gray: #555;
$gray-light: #788187; //#ccc;
$gray-dark: #344154;
$white: #fff;
$orange: #ed6d25;
$blue:  #283f63;

$main-color: $gray-light; //#242D3A;
$default-color: #fff;
$dark-color: #000;

$body-bg-gradient-color-1: #1e5799;
$body-bg-gradient-color-2:  #a5c9e5;

$sidebar-bg-color: $gray-light; //#344154;
$sidebar-item-active-bg-color: $orange;// #637CA0;// #0099cc;


$primary-color: $gray-light;//#024a88;
$success-color: #2d922d;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;
