<div class="confirm-recover-password-container">
    <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <div class="card">
            <div class="card-block text-xs-center">
                <h2 class="card-title text-white">Cambiar Contraseña</h2>


                <div class="alert alert-danger" role="alert" *ngIf="!loading && messageError">
                    <strong>Error: </strong> {{messageError}}
                </div>

                <div *ngIf="!loading && hashIsCorrect && !changePasswordSuccess">
                  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-xs-left">
                    <div class="form-group">
                        <label class="text-white" for="password-f">Contraseña*</label>
                        <input [formControl]="password" class="form-control checking-field" type="password" minlength="6" >
                         <span class="help-block" *ngIf="form.get('password').touched">
                            <span class="text-danger" *ngIf="form.get('password').hasError('required')">Este campo es requerido</span>
                            <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Contraseña debe ser de un largo mínimo de 6 caracteres</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="text-white" for="confirm-password-f">Repetir contraseña*</label>
                        <input id="confirm-password-f" [formControl]="confirmPassword" class="form-control checking-field" type="password">
                        <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                            <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">Este campo es requerido</span>
                            <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Las contraseñas no coinciden</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-gray btn-less-rounded btn-block" type="submit">Cambiar contraseña</button>
                    </div>
                  </form>
                </div>

                <div *ngIf="!loading && changePasswordSuccess">
                  <div class="alert alert-success" role="alert">
                      {{messageSuccess}}
                  </div>
                  <div>
                      <button class="btn btn-gray btn-less-rounded btn-block" type="submit" (click)="goLogin()">Ir a Login</button>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>
