@import "../../../theme/styles/variables";


.recover-password-container,
.confirm-recover-password-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background:url('../../../../assets/img/app/background_login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .card{
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      max-height: 650px;
      overflow-y: scroll;
    }
}
