<div class="row" *ngIf="request">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 bottom-15">
		<div widget class="card">
			<div class="card-header">
				<span>Modificar solicitud # {{request.id}}</span>
				<div class="widget-controls">
					<a data-widgster="fullscreen" href="#" class="transition"><i class="glyphicon glyphicon-resize-full"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="glyphicon glyphicon-resize-small"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

        <!--Datos request-->
        <h5>Datos Solicitud</h5>
        <div class="row">
          <div class="col-sm-12">
              <table class="table table-striped">
                <tr>
                  <td>Nombre</td>
                  <td>{{request.client.full_name}}</td>
                </tr>
                <tr>
                  <td>Vehículo</td>
                  <td>{{request.car.patent}}</td>
                </tr>
                <tr>
                  <td>Fecha</td>
                  <td>{{request.start_time_schedule_requested | date:'dd-MM-y' }}</td>
                </tr>
                <tr>
                  <td>Hora</td>
                  <td>{{request.start_time_schedule_requested | date:'HH:mm' }}</td>
                </tr>
                <tr *ngIf="request.available_services">
                  <td>Servicios solicitados</td>
                  <td>
                    <ul>
                      <ng-container *ngIf="request.available_services">
                        <ng-container *ngFor="let AV of request.available_services">
                          <li *ngIf="AV._joinData.active"> {{ AV.name}}  {{AV.total_price | currency:'CLP':true:'1.0-0' }}</li>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngIf="request.requests_mechanic_mods">
                        <ng-container *ngFor="let AVM of request.requests_mechanic_mods">
                          <ng-container *ngIf="AVM.status !== 3">
                            <ng-container *ngFor="let AVMItem of AVM.available_services">
                              <li *ngIf="AVMItem._joinData.active"> {{ AVMItem.name}}  {{  AVM.status !== 4 ?  '(PENDIENTE)' : ''}} {{AVMItem.total_price | currency:'CLP':true:'1.0-0' }}</li>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ul>
                  </td>
                </tr>
              </table>
          </div>
        </div>
        <!-- Fin datos request-->


        <h5>Añadir Servicios</h5>
				<div class="row">
				  <div class="col-sm-12">
					<div class="form-group">
					  <label for="requests_types-f">Seleccione un servicio*</label>
					  <select for="requests_types-f" name="requests_types_id" class="form-control checking-field" (change)="onChangeRequestsTypes($event.target.value)" placeholder="Seleccione un servicio">
						  <option value="0" [ngValue]="0" #elem [id]="0">Seleccione un servicio</option>
						  <option *ngFor="let RT of requests_types" value="{{RT.id}}" [ngValue]="RT.id" #elem [id]="RT.id">{{RT.name}}</option>
					  </select>
					</div>
				  </div>
				</div>
				<div *ngIf="avaliables_services">
					<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-xs-left">
						<div class="row">
						  <div class="col-sm-12">
  							<div class="form-group">
  							  <label for="requests_types-f">Seleccione una subcategoria</label>

  							  <div class="input-group">
                    <div>
                      <select for="requests_types-f"  [(formControl)]="avaliables_service_id" class="form-control checking-field" placeholder="Seleccione un servicio">
      									<option [ngValue]="0" #elem [id]="0" selected="selected">Seleccione un servicio</option>
      									<option *ngFor="let AServ of avaliables_services" [ngValue]="AServ.id" #elem [id]="AServ.id">{{AServ.name}} </option>
      								</select>
      								<span class="input-group-btn">
      									<button class="btn btn-info" type="button" title="Añadir" [disabled]="!form.get('avaliables_service_id').valid" (click)="addAvaliablesServices(form.value)"><i class="glyphicon glyphicon-plus"></i></button>
      								</span>
                    </div>
                    <div class="my-help-block">
                      <span class="help-block" *ngIf="form.get('avaliables_service_id').touched">
                          <span class="text-danger" *ngIf="form.get('avaliables_service_id').hasError('isAlreadyAdded')">Ya se agrego este valor. Escoga otro.</span>
                          <span class="text-danger" *ngIf="form.get('avaliables_service_id').hasError('notEmpty')">Debe escoger un valor en especifico.</span>
                      </span>
                    </div>

  							  </div>
  							</div>
						  </div>
						</div>
						<hr>

            <div class="row" *ngIf="avaliables_services_add" >
              <div class="col-sm-12 mb-1 ">
                <label>Servicios Solicitados</label>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of avaliables_services_add">{{item.name}} <button class="btn btn-danger btn-xs pull-right" type="button" title="Eliminar" (click)="removeItemService(item.id)"><i class="glyphicon glyphicon-minus"></i></button></li>
                </ul>
                <span class="help-block" *ngIf="avaliables_services_add.length==0">
                  <span class="text-danger">No hay subcategorias agregadas aún</span>
                </span>

              </div>
            </div>
						<hr>

						<!--<div class="row">
						  <div class="col-sm-12">
							<div class="form-group">
							  <label for="start_time_schedule_requested-f">Seleccione el día</label>
								<div class="input-group">
								    <input id="start_time_schedule_requested-f" [formControl]="start_time_schedule_requested"  class="form-control checking-field" type="date">
								    <div class="input-group-addon"><i class="fa fa-calendar" onClick="document.getElementById('start_time_schedule_requested-f').click()"></i></div>
							  </div>
							  <span class="help-block" *ngIf="form.get('start_time_schedule_requested').touched">
								<span class="text-danger" *ngIf="form.get('start_time_schedule_requested').hasError('required')">Este campo es requerido</span>
							  </span>
							</div>
						  </div>
						</div>

						<div class="row">
						  <div class="col-sm-12">
							<div class="form-group">
							  <label for="hora_id-f">Seleccione una hora*</label>
							  <select for="hora_id-f" [formControl]="hora_id" class="form-control checking-field">
								  <option *ngFor="let RT of horas" value="{{RT.id}}" [ngValue]="RT.id" #elem [id]="RT.id">{{RT.name}}</option>
							  </select>
							  <span class="help-block" *ngIf="form.get('hora_id').touched">
									<span class="text-danger" *ngIf="form.get('hora_id').hasError('required')">Este campo es requerido</span>
								</span>
							</div>
						  </div>
						</div>-->

						<div class="row">
						  <div class="col-sm-12 text-xs-center">
								<div *ngIf="avaliables_services_add.length!=0">
									<button [disabled]="this.avaliables_services_add.length==0" class="btn btn-blue btn-less-rounded" type="submit">Continuar</button>
								</div>
								<div *ngIf="avaliables_services_add.length==0">
									<button [disabled]="true" class="btn btn-blue btn-less-rounded" type="submit">Continuar</button>
								</div>
						  </div>
						</div>

					</form>
				</div>


			</div>
		</div>
	</div>
</div>

<style type="text/css">
	ul.list li{
		min-height: 25px;
	}
</style>

<button class="btn btn-danger" id="modal_success_general" data-target="#success-modal-general" data-toggle="modal" type="button"  [hidden]="true">.</button>
<div aria-labelledby="modal-success-label" class="modal fade" id="success-modal-general" role="dialog" style="display: none;" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header state modal-success">
				<button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="goBack()"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="modal-success-label"><i class="fa fa-check"></i><span id="modal_title_success">{{modal_title_success}}</span></h4>
			</div>
			<div class="modal-body" id="modal_body_success">{{modal_body_success}}</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" (click)="goBack()" type="button">Aceptar</button>
			</div>
		</div>
	</div>
</div>
