.card-header{
  .card-title{
    margin-top: 7px;
    display: block;
  }
}
.btn-group{
  .dropdown-toggle{
    background: none;
    color: #fff;
  }
  .dropdown-menu{
    &.dropdown-arrow-none{
      &:before{
        content: none;
      }
    }
    .dropdown-item{
      color: #242424;
      line-height: 1.8;
      &:hover{
        color: #fff;
      }
      span{
        margin-right: 8px;
      }
    }
  }
}

.my-help-block{
  display: block;
}
