<div widget class="card" *ngIf="user">
    <div class="card-header">
        <span>Herramientas</span>
        <span>
          <button [hidden]="canEdit" [disabled]="!form.valid" type="button" class="btn btn-blue btn-less-rounded btn-s" (click)="onSubmit(form.value)">Guardar</button>
        </span>
        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition"><i class="glyphicon glyphicon-resize-full"></i></a>
            <a data-widgster="restore" href="#" class="transition"><i class="glyphicon glyphicon-resize-small"></i></a>
            <a  class="transition"><i (click)="disableInputs()" class="glyphicon glyphicon-edit"></i></a>
        </div>
    </div>
    <div class="card-block widget-body">
      <form (ngSubmit)="onSubmit(form.value)" class="text-xs-left">

          <div class="form-group" *ngFor="let elemInput of nameInputs">
              <label [for]="elemInput.label" class="custom-control custom-checkbox" >
                <input [id]="elemInput.label" [formControl]="inputs[elemInput.inputName]" type="checkbox" class="custom-control-input checkbox-primary" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{elemInput.name}}</span>
              </label>
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="!loading && error">
              <strong>Error: </strong> {{error}}
          </div>

          <!--<div class="form-group col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1" [hidden]="canEdit">
              <button [disabled]="!form.valid" class="btn btn-warning btn-block" type="submit">Guardar</button>
          </div>-->
      </form>
    </div>
</div>
