<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>
<body>
    <app>
        <div class="spin-outher">
            <div class="spin-container">
                <div class="spin-inner">
                    <div class="spin-cube-grid">
                        <div class="spin-cube spin-cube1" style="background: url('./assets/img/logo/image_part_001.jpg');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube2" style="background: url('./assets/img/logo/image_part_002.jpg');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube3" style="background: url('./assets/img/logo/image_part_003.jpg');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube4" style="background: url('./assets/img/logo/image_part_004.jpg');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube5" style="background: url('./assets/img/logo/image_part_005.jpg'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube6" style="background: url('./assets/img/logo/image_part_006.jpg'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube7" style="background: url('./assets/img/logo/image_part_007.jpg'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube8" style="background: url('./assets/img/logo/image_part_008.jpg'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube9" style="background: url('./assets/img/logo/image_part_009.jpg'); background-size: cover;"></div>
                    </div>
                </div>
            </div>
        </div>
    </app>
    <script data-pace-options='{ "target": ".main-wrapper", "ghostTime": 1000 , "ajax": { "trackMethods": ["GET", "POST"] } }'></script>
</body>
</html>
